<div style="max-width: 1200px; margin: 0 auto; padding: 20px;">
	<div class="container">
		<div class="row">
			<div>
				<form style="height: 50px">
					<img class="float-left" src="assets/img/Cucumber.png"
						alt="Cucumber" style="max-height: 100%">
					<button (click)="runCucumber()" type="submit" class="btn btn-primary float-right">Run
							Trainer</button>
					<button (click)="runCurricula()" type="submit" class="btn btn-primary float-right">Run
							Curriculum</button>
					<button (click)="runLogin()" type="submit" class="btn btn-primary float-right">Run
							Login</button>
					<button (click)="runBatch()" type="submit" class="btn btn-primary float-right">Run
							Batch</button>
					<button (click)="runOverview()" type="submit" class="btn btn-primary float-right">Run
							Overview</button>
				</form>
			</div>
		</div>
	</div>
</div>
