<div class="row">
  <div class="col-lg-4 col-md-12">
    <div class="card">
      <div class="view overlay">
        <img src="assets/img/Cuong.jpg" class="card-img-top" alt="Cuong" width="400px" height="400px">
          <div class="mask rgba-white-slight"></div>
      </div>
      <div id="caption" class="card-body">
        <h4 class="card-title text-center">Cuong Nguyen</h4>
        <p class="card-text text-center text-info">Software Associate at Revature</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div class="card">
      <div class="view overlay">
        <img src="assets/img/Nick.jpg" class="card-img-top" alt="">
          <div class="mask rgba-white-slight"></div>
      </div>

      <div class="card-body">
        <h4 class="card-title text-center">Nick McComb</h4>
        <p class="card-text text-center text-info">Software Associate at Revature</p>
      </div>
    </div>
  </div>


  <div class="col-lg-4 col-md-6">
    <div class="card">
      <div class="view overlay">
          <img src="assets/img/Michael.jpg" class="card-img-top" alt="Cuong" width="400px" height="400px">
          <div class="mask rgba-white-slight"></div>
      </div>

      <div class="card-body">
        <h4 class="card-title text-center">Michael Sikorski</h4>
        <p class="card-text text-center text-info">Software Associate at Revature</p>
      </div>
    </div>
  </div>



    <div class="col-lg-4 col-md-12">
      <div class="card">
        <div class="view overlay">
            <img src="assets/img/Richard.jpg" class="card-img-top" alt="Cuong" width="400px" height="400px">
            <div class="mask rgba-white-slight"></div>
        </div>
        <div class="card-body">
          <h4 class="card-title text-center">Richard Park</h4>
          <p class="card-text text-center text-info">Software Associate at Revature</p>
        </div>
      </div>
    </div>


  <div class="col-lg-4 col-md-12">
    <div class="card">
      <div class="view overlay">
          <img src="assets/img/Bala.jpg" class="card-img-top" alt="Cuong" width="400px" height="400px">
          <div class="mask rgba-white-slight"></div>
      </div>
      <div class="card-body">
        <h4 class="card-title text-center">Bala Kumar</h4>
        <p class="card-text text-center text-info">Software Associate at Revature</p>
      </div>
    </div>
  </div>

        <div class="col-lg-4 col-md-12">
            <div class="card">
              <div class="view overlay">
                  <img src="assets/img/Team.jpg" class="card-img-top" alt="Cuong" width="400px" height="400px">
                  <div class="mask rgba-white-slight"></div>
              </div>
              <div class="card-body">
                <h4 class="card-title text-center">Team WorldGate</h4>
                <p class="card-text text-center text-info">The Founders of HobGoblin</p>
              </div>
            </div>
          </div>
</div>


<!--Footer-->
<footer id="ft" class="page-footer text-center text-md-left font-small indigo pt-4 mt-4">

  <div class="container-fluid text-center text-md-left">
      <div class="row">
          <!--About HobGoblin-->
          <div class="col-md-6 pb-3">
              <h5 class="text-uppercase">About our services</h5>
              <p class="text-center">HobGoblin's purpose is to allow our customers to run multiple leading testing framework api's against their application.
                 HobGoblin is an application developed by team WorldGate from Revature and it tests the requested website's functionalities: <a href="https://dev.assignforce.revaturelabs.com" style="color:aliceblue">https://dev.assignforce.revaturelabs.com</a>.
                 We hope to maintain the website's functionalities through vigorous testing.
              </p>
          </div>
          <!--End of About HobGoblin-->

          <!--Testing API's Links-->
          <div class="col-md-6 pb-3">
              <h5 class="text-uppercase">Testing API's</h5>
              <ul id="links" class="list-unstyled">
                  <li>                   
                      <a routerLink="/selenium" style="color:aqua">Selenium</a>
                  </li>
                  <li>
                      <a routerLink="/test-ng" style="color:aqua">TestNg</a>
                  </li>
                  <li>
                    <a routerLink="/cucumber" style="color:aqua">Cucumber</a>
                  </li>
                  <li>
                    <a routerLink="/jasmine" style="color:aqua">Jasmine</a>
                  </li>
                  <li>
                      <a routerLink="/protractor" style="color:aqua">Protractor</a>
                  </li>
                  <li>
                      <a routerLink="/karma" style="color:aqua">Karma</a>
                  </li>
              </ul>
          </div>
          <!--End of Testing API's Links-->
      </div>
  </div>
</footer>
<!--End of Footer-->